<h1 md-dialog-title>{{contact.id !== null ? 'Edit Contact' : 'New Contact'}}</h1>

<form flex layout="row" #contactForm="ngForm">
  <table>
    <tr>
       <td>
        <md-input-container>
          <input mdInput required name="firstname" [(ngModel)]="contact.firstName" placeholder="First name">
        </md-input-container>
        <md-input-container>
          <input mdInput required name="lastname" [(ngModel)]="contact.lastName" placeholder="Last name">
        </md-input-container>
     </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="full-width">
          <input mdInput name="age" [(ngModel)]="contact.age" min="0" max="120" placeholder="Age">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="full-width">
          <input mdInput name="address" [(ngModel)]="contact.address" placeholder="Address">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
          <md-select required class="full-width" [(ngModel)]="contact.cardColor" name="cardColor" placeholder="color" [style.color]="contact.cardColor">
            <md-option *ngFor="let opt of colorOptions" [value]="opt.value" [style.background-color]="opt.value">{{ opt.color }}</md-option>
          </md-select>
      </td>
    </tr>
  </table>
</form>

<div class="buttons" *ngIf="contact.id !== null; else editButtons;">
  <button md-button (click)="handleContact(contact)" [disabled]="isValid">
    <md-icon class="material-icons">add</md-icon> Add
  </button>

  <button md-button color="warn" md-dialog-close>
    <md-icon class="material-icons">cancel</md-icon> Cancel
  </button>
</div>

<template class="buttons" #editButtons>
   <button md-button md-dialog-close>
    <md-icon class="material-icons">add</md-icon> I'm done editing
  </button>
</template>
