<h2 md-dialog-title>Add contact</h2>

<form flex layout="row">
  <table>
    <tr>
       <td>
        <md-input-container>
          <input mdInput name="firstname" [(ngModel)]="contact.firstName" placeholder="First name">
        </md-input-container>
        <md-input-container>
          <input mdInput name="lastname" [(ngModel)]="contact.lastName" placeholder="Last name">
        </md-input-container>
     </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="full-width">
          <input mdInput name="age" [(ngModel)]="contact.age" min="0" max="120" placeholder="Age">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="full-width">
          <input mdInput name="address" [(ngModel)]="contact.address" placeholder="Address">
        </md-input-container>
      </td>
    </tr>
  </table>
</form>

<button md-icon-button (click)="addNewContact(contact)">
  <md-icon class="material-icons">Add</md-icon>
</button>

<button md-icon-button md-mini-fab color="warn" md-dialog-close>
  <md-icon class="material-icons">cancel</md-icon>
</button>
