<md-card class="contact">
  <md-card-header>
    <md-card-title>{{ contact.firstName }} {{ contact.lastName }}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/1.jpg">
  <md-card-content>
     <div class="contact_age">{{ contact.age }}</div>
     <div class="contact_address">{{ contact.address }}</div>
  </md-card-content>
  <md-card-actions align="start">
     <button md-button >Edit</button>
     <button md-button >Delete</button>
  </md-card-actions>
</md-card>
