<md-card>
  <md-card-header>
    <md-card-title>{{ contact.firstName }} {{ contact.lastName }}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="">
  <md-card-content>
     <div>{{ contact.age }}</div>
     <div>{{ contact.address }}</div>
  </md-card-content>
  <md-card-actions align="start">
     <button md-button >Edit</button>
     <button md-button >Delete</button>
  </md-card-actions>
  <md-card-footer>
    Footer
  </md-card-footer>
</md-card>
