.contact {
  width: 400px;
}

.contact-name {
  font-size: 4em;
}

.header-image {
  background-size: cover;
}

.contact-age::before {
  content: "Age: ";
}

.contact-address::before {
  content: "Address: ";
}
