<div *ngIf="contacts?.length >= 1; else noContacts" fxLayout="column" fxLayoutAlign="space-between center"  fxLayoutGap="30px">
    <contact-list-item
      *ngFor="let contact of contacts"
        [contact]="contact"
        [edit]="editContact"
        [delete]="deleteContact"
        [mapsUpdate]="mapsUpdate"
        (click)="selectContact(contact)"></contact-list-item>
   <div *ngIf="i < contacts.length-1">
    <br>
  </div>
  <p>Showing {{ contacts.length }} contact(s)</p>
</div>

<ng-template #noContacts>
  <div class="no-contacts">
    <md-icon>person_pin</md-icon>
    <p>You haven't added any contacts yet.</p>
  </div>
</ng-template>
