<md-card class="contact" [style.background-color]="contact.cardColor">
  <md-card-header class="contact-header">
    <md-card-title class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/1.jpg"  class="header-image">

  <md-card-content>
     <div class="contact-age">{{ contact.age }}</div>
     <div class="contact-address">{{ contact.address }}</div>
  </md-card-content>
  <md-card-actions align="start">
     <div>
        <button md-button (click)="deleteContact()">
          <md-icon>delete</md-icon> Delete
        </button>
        <button md-button (click)="editContact()">
          <md-icon>edit</md-icon> Edit
        </button>
      </div>

  </md-card-actions>
</md-card>
