.contact {
  padding: 0;
  width: 500px;
}

.contact-header {
  padding: 24px 24px 10px 24px;
}

.contact-content {
  padding: 0 24px 24px 24px;
  margin: 0;
}

.contact-buttons {
  padding: 12px 24px 24px 24px !important;
}

.contact-name {
  font-size: 25px !important;
}

.header-image {
  margin: 0;
  width: 500px;
  background-size: cover;
}

.contact-age::before {
  content: "Age: ";
}

.contact-address::before {
  content: "Address: ";
}

