<md-card class="contact">
  <md-card-header>
    <md-card-title>{{ contact.firstName }} {{ contact.lastName }}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <div md-card-image src="assets/img/1.jpg"  class="header-image"></div>

  <md-card-content>
     <div class="contact_age">{{ contact.age }}</div>
     <div class="contact_address">{{ contact.address }}</div>
  </md-card-content>
  <md-card-actions align="start">
     <div>
        <button md-button (click)="removeContact()">
          <p><md-icon>delete</md-icon> Delete</p>
        </button>
        <button md-button (click)="editContact()">
          <p><md-icon>edit</md-icon> Edit</p>
        </button>
      </div>

  </md-card-actions>
</md-card>
