<md-list>
  <md-list-item>
    <div>firstname</div>
    <div>lastname</div>
    <div>age</div>
    <div>address</div>
    <div>Operations</div>
  </md-list-item>

    <md-list-item *ngFor="let contact of contacts;" (click)="selectContact(contact)">
        <div>{{ contact.firstName }}</div>
        <div>{{ contact.lastName }}</div>
        <div>{{ contact.age }}</div>
        <div>{{ contact.address }}</div>
        <div>
          <button md-button (click)="editContact(contact)">Edit</button>
          <button md-button (click)="deleteContact(contact)">Delete</button>
        </div>
    </md-list-item>
  </md-list>
