<md-card class="contact" [@flyInOut]>
  <md-card-header class="contact-header"  [style.background-color]="contact.cardcolor">
    <md-card-title class="contact-name">{{ contact.firstname }} {{ contact.lastname }}</md-card-title>
    <md-card-subtitle class="contact-age" *ngIf="contact.age">{{ contact.age }}</md-card-subtitle>
  </md-card-header>
  <div *ngIf="contact.address">
    <md-card-content class="contact-content" [style.background-color]="contact.cardcolor">
       <div class="contact-address">{{ contact.address }}</div>
    </md-card-content>
    <maps-image [address]="contact.address" *ngIf="contact.addressvalid"></maps-image>

  </div>

  <md-card-actions align="start" class="contact-buttons">
     <div>
        <button md-button (click)="deleteContact()">
          <md-icon>delete</md-icon> Delete
        </button>
        <button md-button (click)="editContact()">
          <md-icon>edit</md-icon> Edit
        </button>
      </div>

  </md-card-actions>
</md-card>
